footer {
    visibility:hidden;
}

.css-14xtw13 {
    visibility:hidden;
}

a.viewerBadge_container__1QSob {
    visibility:hidden;
}

code {
    background:none;
    color: black;
}

.css-1dp5vir {
    visibility:hidden;
}

.css-6qob1r {
    background-color: #979494;
}

.css-6qob1r span {
    color: white;
}