footer {
    visibility:hidden;
}

.css-14xtw13 {
    visibility:hidden;
}

a.viewerBadge_container__1QSob {
    visibility:hidden;
}

code {
    background:none;
    color: black;
}

stDecoration {
    visibility:hidden;
}