footer {
    visibility:hidden;
}

.css-14xtw13 {
    visibility:hidden;
}

a.viewerBadge_container__1QSob {
    visibility:hidden;
}

code {
    background:none;
    color: black;
}

.css-1dp5vir {
    visibility:hidden;
}

.css-6qob1r {
    background-color: #b1b1b1;
}

.css-6qob1r span {
    color: black;
}

[data-testid="stSidebarNav"] {
                background-image: none;
                background-repeat: no-repeat;
                padding-top: 20px;
                background-position: 20px 20px;
            }

[data-testid="stSidebarNav"]::before {
    content: "RagCalc!";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    top: 50px;
}
